body {  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    font-family: monospace;
}


.hero {
    top: 20rem;
    display: flex;
    font-size: 2rem;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: goldenrod;
}

button{
    color: white;
    background-color: goldenrod;
    border-radius: 1rem;
    height: 80px;
    width: 150px;
    transition: 1s;
    font-size: 1.5rem;
}
.button_container {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 4px;
    font-size: 24px;
    transition: 0.4s;
}

.button_container:hover{

    box-shadow: 0 0 0, 0 0 0, 0 0 70px goldenrod;
    
    transition-delay: 0.8s;
    border-radius: 2rem;
}

.button_container span{
    position: absolute;
    display: block;
}
